html{
    min-height:100% !important;
  
}
body{
    background: url('../img/bgBranches.jpg') no-repeat;
    background-size: 100%;
    min-height:100% !important;


    -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 100% 100%;           /* Opera 9.5 */
-webkit-background-size: 100% 100%;           /* Safari 3.0 */
       background-size: 100% 100%;        
   
 
}
.branchesHeader p {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: white !important;
    margin-top: 100px;
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
 

}
.lineBg {
    text-align: center;
    margin-bottom: 100px;
}
.card{
    width: 20%;
    border-radius: 30px;
}

.card-title{
    font-weight: bold;
    margin-bottom: 40px;
}

.card-body img{
    margin-bottom: 40px;
}

.card-body button{
    outline: none;
    border: none;
    background: none;
    background-color: #E3B038;
    color: white;
    padding: 8px 40px;
    border-radius: 7px;
    font-weight: bold;
}
.branchesCards {
    margin-bottom: 100px;
}
.aboutImg {
    margin-top: 25px;
}

@media(max-width:1200px){

    .card{
        width: 23%;
        
    }

}

@media(max-width:991px){
    .card{
        width: 31%;
    }
    .branchesHeader p {
       
        margin-top: 60px;
    }
    .lineBg {
        margin-bottom: 60px;
    }
    .branchesCards {
        margin-bottom: 60px;
    }
}
@media(max-width:750px){
    .card{
        width: 45%;
    }
    .branchesHeader p {
        font-size: 30px;
      
    }
}

@media(max-width:520px){
    .card{
        width: 65%;
    }
}
@media(max-width:400px){
    .card{
        width: 75%;
    }
}
@media(max-width:320px){
    .card{
        width: 92%;
    }
}