html, body{
    background-color: #F3F3F7 !important;
}

/* Navbar */

.navbar{
    background-color: #3B3B3B;
    padding: 15px 0px !important;
}
.navbar-brand{
    margin-left: 50px !important;
}
.nav-link {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-left: 35px;
}
.nav-link:hover{
    
    transform: scale(1.03);
}
.navbar-nav {
    margin-right: 40px;
}
.nav-link:hover{
    text-decoration: none;
    color: white;
}
.navbar-toggler{
    color: white !important;
    outline: none !important;
    margin-right: 20px !important;
    font-size: 25px !important;
}

@media (max-width: 520px){
    .navbar-brand{
        margin-left: 17px !important;
    }
    .nav-link {
        margin-left: 20px !important;
    }
}
@media (max-width: 991px){
    .nav-link {
        margin-top: 5px;
        margin-left: 60px;
    }
    .navbar-nav{
        margin-top: 15px;
    }
}

/* footer */

#footer{
    margin-top: 38px !important;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.footer p {
    margin-top: 18px;
}

.pull-right a i {
    margin-right: 15px;
    color: white;

}

.pull-right {
    margin-right: 3%;
}

#footer p i {
    transition: 0.4s;
    cursor: pointer;
}
#footer p i:hover {
    transform: scale(1.3);

}
.pull-left {
    margin-left: 3%;
}

/* Active Page CSS */

.activePage {
    background-color: #E3B038 !important;
}

.activePage img, .activePage p{
    -webkit-filter: brightness(0) invert(1) !important;  
    -moz-filter : brightness(0) invert(1) !important;  
    -o-filter : brightness(0) invert(1) !important;  
    -ms-filter : brightness(0) invert(1) !important;  
    filter : brightness(0) invert(1) !important;  
    font-weight: bold;
    color: white !important;
}

/* Left Content CSS Fix */

.reservation, .privateOffice, .events, .subscription{
    font-family: 'Poppins', sans-serif;
    margin-top: 50px !important;
    margin-left: 30%;
    background-color: white;
    padding: 30px 40px;
    width: 180px;
    border-radius: 10px;
    
}

.reservation:hover, .privateOffice:hover, .events:hover, .subscription:hover {
    transform: scale(1.06);
    cursor: pointer;

}

#content p {
    color: #707070;
}

.subscription img {
    margin-left: 12px !important;
    margin-top: 10px;
    margin-bottom: 12px;
}

.reservation img {
    margin-left: 15px !important;
    margin-top: 10px;
    margin-bottom: 12px;
}

.privateOffice img {
    margin-left: 16px !important;
    margin-bottom: 12px;
}
.privateOffice p {
    margin-left: -3px !important;
  
}


.events img {
    margin-left: 25px !important;
    margin-top: 10px;
    margin-bottom: 12px;
}

.events p {
    margin-left: 20px !important;
 
}


@media (max-width: 1340px){
    .reservation, .privateOffice, .events, .subscription{
        margin-left: 12% !important;
    }

}

@media (max-width: 1588px){
    .reservation, .privateOffice, .events, .subscription{
        margin-left: 20%;
        min-width: 165px;

    }

}

@media (max-width: 1198px){
    .reservation, .privateOffice, .events, .subscription{
        padding: 30px 35px;
        margin-left: 5% !important;
    }
    .elements{
        margin-left: 5% !important;
    }

}

@media (max-width: 1028px){
    .reservation, .privateOffice, .events, .subscription{
        padding: 30px 30px;
        width: 155px !important;
    }
    .elements{
        margin-left: 1% !important;
    }
}

@media(max-width: 991px){
    .reservation, .privateOffice, .events, .subscription{
        height: 140px;
        padding: 15px 32px;
        margin-left: 4% !important;
    
    }
    .elements{
       justify-content: center;
        margin-left: 0% !important;
        margin-right: 2% !important;
    }

}

/* Privet Office : Right Content */


.rightContent{
    margin-top: 50px !important;
    background-color: white;
    border-radius: 10px;
}

.imgPrivetOffice {
    max-width: 370px;
    border-radius: 30px;
    margin-top: 80px !important;
}

.txtPrivetOffice {
    padding-top: 90px;
    
}
.txtPrivetOffice h1{
    font-family: 'Poppins', sans-serif;
    color: #202124;
    font-size: 32px;
}
 .txtPrivetOffice p, .txtPrivetOffice a {
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;

}

.txtPrivetOffice p {
    color: #A6ADB4;
    font-size: 19px;
}

.txtPrivetOffice h1,  .txtPrivetOffice a {
    font-weight: bold;
}


.btnRent a{
    background-color: #E3B038;
    color: white;
    padding: 10px 45px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
    -webkit-box-shadow: 0px 20px 31px -13px rgba(255,200,61,0.44);
    -moz-box-shadow: 0px 20px 31px -13px rgba(255,200,61,0.44);
    box-shadow: 0px 20px 31px -13px rgba(255,200,61,0.44);
}

.btnRent {
    margin-top: 7px !important;
}

.btnPrivetOffice {
    text-align: right;
   
}
.btnRent a:hover {
    color: white;
    text-decoration: none !important;
}
.privet:nth-of-type(2) {
    margin-bottom: 30px !important;
    margin-top: 11px;
}



.date {
    margin-top: 20px;
    margin-bottom: -20px;
}

.dateTxt {
    margin-right: 10px;
    padding-top: 5px;
    font-weight: 500;
}

@media(max-width: 1580px){
    .imgPrivetOffice {
        max-width: 320px;
        margin-top: 90px !important;
    }
}

@media(max-width: 1300px){

    .imgPrivetOffice {
        max-width: 290px;
        margin-top: 90px !important;
    }
    .txtPrivetOffice p {
        font-size: 17px;
    }
    .btnRent a{
        padding: 8px 35px;
        font-size: 19px;
    }
}

@media(max-width: 1170px){

    .imgOffice{
        margin-right: 5% !important;
    }

    .imgPrivetOffice {
        max-width: 250px;
        margin-top: 110px !important;
    }

    .privet:nth-of-type(2) {
        margin-top: -20px;
    margin-bottom: 10px !important;
    }

}


@media(max-width: 1060px){

    .blog .carousel-indicators {
        bottom: -15px !important;
    }
}

@media(max-width: 991px){

    .imgOffice{
        text-align: center;
        margin-top: -80px;
        margin-right: 0% !important;
    }

    .imgPrivetOffice {
        max-width: 350px;
    }

    .txtPrivetOffice {
        text-align: center;
        margin-top: -50px;
    }

    .btnPrivetOffice {
        text-align: center;
        margin-bottom: 30px;
    }

    .btnRent {
        margin-bottom: 30px !important;
    }

    .date {
        
        margin-bottom: 0px;
    }

}


@media(max-width: 450px){

    .imgPrivetOffice {
        max-width: 250px;
    }
}

@media(max-width: 767px){
    .input-group{
        width: 40% !important;
        margin-bottom: 15px;
        margin-left: 28%;
    
    }
}

@media(max-width: 680px){
    .input-group{
        width: 60% !important;
        margin-left: 17%;
    
    }
}

@media(max-width: 521px){
    .input-group{
        width: 80% !important;
        margin-left: 8%;
    
    }
}

.blog .carousel-indicators {
   
    bottom: -55px;
    margin-bottom: 30px !important;

}


.blog .carousel-indicators li {
    margin-top: -2%;
    display: inline-block;
    width: 15px;
    background-color: rgba(0, 0, 0, 0);
    height: 15px;
    text-indent: -999px;
    border: 1px solid #E3B038;
    border-radius: 10px;
}

.blog .carousel-indicators .active {
    background: #E3B038;
}



.carousel-indicators li {
    margin-top: -2%;
    display: inline-block;
    width: 12px;
    background-color: rgba(0, 0, 0, 0);
    height: 12px;
    text-indent: -999px;
    border: 1px solid #E3B038;
    border-radius: 10px;

    margin-top: -7%;
}

.carousel-indicators .active {
    background: #E3B038;
}  



/* Events : Right Content */


/*
.eventDate {
    color: #FC9700;
    font-weight: bold;
    margin-bottom: 3px;
}

 .rightContent{
    margin-top: 50px !important;
    background-color: white;
    border-radius: 10px;
}

.imgEvents {
    max-width: 250px !important;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 60px;
    
}

.txtEvent {
    padding-top: 30px;
    
    
}

.btnBookNow:hover{
    transform: scale(1.03);
}
.txtEvent h1{
    font-size: 21px !important;        
}

@media(max-width: 1440px){
    .txtEvent h1{
            font-size: 18px !important;        
    }
}

.txtEvent h1{
    font-family: 'Poppins', sans-serif;
    color: #202124;
   
}
 .txtEvent p, .txtEvent a {
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;

}

.txtEvent p {
    color: #A6ADB4;
    font-size: 18px;
}

.txtEvent h1,  .txtEvent a {
    font-weight: bold;
}


.btnBookNow a{
    background-color: #222831;
    color: white;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
   
}

.btnBookNow {
    margin-top: 10px !important;
}

.btnEvent {
    text-align: right;
   
}
.btnBookNow a:hover {
    color: white;
    text-decoration: none !important;
}

.filterEvents {
    margin-top: 10px;
    
}
.event:nth-of-type(1){
    margin-bottom: -30px;

}

.event:nth-of-type(3){
    margin-bottom: 20px;
    margin-top: -20px;
}

.eventPrice{
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    color: #E3B038;
    font-weight: bold;
    padding-top: 5px;
}

select {
    border-radius: 15px !important;
    min-height: 50px;
   margin-right: 20px !important;
    width: 250px !important;
    font-weight: 500 !important;
    background: url(../img/Dropdown.png) no-repeat right #ddd;
    background-position-x: 95%;
    -webkit-appearance: none;
    font-family: 'Poppins', sans-serif;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
select option{
    
    color: black !important;
    border-radius: 15px !important;
}



@media(max-width: 1580px){
    .imgEvents {
        max-width: 230px;
        margin-top: 20px;
       
    }
}

@media(max-width: 1300px){

    .imgEvents {
        max-width: 230px;
      
    }
    .txtEvent p {
        font-size: 17px;
    }
    .btnBookNow a{
        padding: 8px 35px;
        font-size: 15px !important;
    }
}

@media(max-width: 1170px){

    .eventsImgs{
        margin-right: 5% !important;
    }

    .imgEvents {
        max-width: 230px;
       
    }

    .event:nth-of-type(3) {
        margin-top: -20px;
   
    }

    .blog .carousel-indicators {
        bottom: -40px !important;
       
    }

}


@media(max-width: 1060px){


    .event:nth-of-type(1){
        margin-top: 10px;
    }
  
}

@media(max-width: 991px){

    .blog .carousel-indicators {
        bottom: -15px !important;
        margin-bottom: 20px !important;
    }

    .eventsImgs{
        text-align: center;
        margin-top: -80px;
        margin-right: 0% !important;
    }

    .imgEvents {
        max-width: 230px;
        margin-top: 85px;
    }

    .txtEvent {
        text-align: center;
        margin-top: -50px;
    }

    .btnEvent {
        text-align: center;
        margin-bottom: 30px;
    }

    .btnBookNow {
        margin-bottom: 30px !important;
    }

    .filterEvents {
       
        margin-bottom: 0px;
       
    }
    
    .eventPrice{
        margin-bottom: 10px;
    }

}


@media(max-width: 450px){

    .imgEvents {
        max-width: 200px !important;
    }
}

.blog .carousel-indicators {
   
    bottom: -60px;
    margin-bottom: 20px !important;

}

.blog .carousel-indicators li {
   
    display: inline-block;
    width: 15px;
    background-color: rgba(0, 0, 0, 0);
    height: 15px;
    text-indent: -999px;
    border: 1px solid #E3B038;
    border-radius: 10px;
    margin-bottom: 20px;
}

.blog .carousel-indicators .active {
    background: #E3B038;
}


.carousel-indicators li {
    
    display: inline-block;
    width: 12px;
    background-color: rgba(0, 0, 0, 0);
    height: 12px;
    text-indent: -999px;
    border: 1px solid #E3B038;
    border-radius: 10px;

    margin-top: -7%;
}

.carousel-indicators .active {
    background: #E3B038;
}  */



/* Subscription : Right Content */

/* select {
    border-radius: 15px !important;
    min-height: 50px;
    color: #E3B038 !important;
    width: 250px !important;
    font-weight: 500 !important;
    background: url(../img/Dropdown.png) no-repeat right #ddd;
    background-position-x: 95%;
    -webkit-appearance: none;
    font-family: 'Poppins', sans-serif;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
select option{
    
    color:black !important;
    border-radius: 15px !important;
}

.filterSubscription {
    margin-top: 40px;
}

.rightContent {
    margin-top: 60px;
    
}
.filterSubscription p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 15px;
    margin-right: 40px;
    color: black !important;
}


.card {
    margin-top: 30px;
    width: 31% !important;
    font-family: 'Poppins', sans-serif;
    border-radius: 28px !important;
 }
 .card-body{
     background: url('../img/line.png') no-repeat center top ;
     background-position: 50% 12%;
     background-size: 110px;
 }
 .card-body h5 {
     font-size: 18px;
     color: black !important;
 }
 
 .card-text {
     font-size: 50px;
     font-weight: bold;
     color: #E3B038 !important;
     padding-top: 30px;
     margin-right: 7%;
     
 }
 .card-text sup{
    color: black !important;
     font-size: 32px !important;
  
 }

 .card-body p:nth-child(3) {
     margin-top: -18px;
     margin-bottom: 25px;
     color: black !important;
 }

 .card-body p:nth-child(6) {
   font-weight: 600;
   margin-top: 30px;
   color: black !important;
   font-family: 'Poppins', sans-serif;
   
}

 .card-body img {
    margin-bottom: 20px;
}

.card-body button {
    outline: none;
    text-decoration: none;
    border: none;
    background-color: #E3B038 ;
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: -10px;
}

.card-body button:hover {
    transform: scale(1.05);
}
.subscriptionCards {
    margin-top: 50px;
}

@media(max-width: 510px){

    .filterSubscription p {
        margin-right: 10px;
    }

}

@media(max-width: 445px){

    .filterSubscription p {
        margin-top: 0px;
    }

}


@media(max-width: 1100px){

    .card-body h5 {
        font-size: 16px;
    }

    .card-text {
        font-size: 40px;
     
       
        padding-top: 30px;
        margin-right: 7%;
    }

    .card-body button {
      
        font-size: 14px;
 
    }

}

@media(max-width: 1018px){

    .card-body button {
        padding: 10px 20px;
    }
}


@media(max-width: 991px){
    .card-body button {
        padding: 10px 25px;
    }

    .subscriptionCards {
        margin-top: 10px;
    }

    .filterSubscription {
        margin-top: 10px;
    }
}
@media(max-width: 848px){

    
.card {
    width: 300px !important;
 }

}


@media(max-width:635px){

    .card {
        width: 320px !important;
     }
}  */