/* Navbar */

.navbar{
    background-color: #3B3B3B;
    height: 80px !important;
}
.navbar-brand{
    margin-left: 30px !important;
}
.nav-link {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-left: 35px;
}
.navbar-nav {
    margin-right: 40px;
}
.nav-link:hover{
    text-decoration: none;
    color: white;
}