/* Privet Office : Right Content */

 
.rightContent{
    box-shadow: 0 0 36px rgba(0,0,0,.07);
    margin-top: 50px !important;
    background-color: white;
    border-radius: 10px;
}

.imgPrivetOffice {
    max-width: 370px;
    border-radius: 30px;
    margin-top: 80px !important;
}

.txtPrivetOffice {
    padding-top: 90px;
    
}
.txtPrivetOffice h1{
    font-family: 'Poppins', sans-serif;
    color: #202124;
    font-size: 32px;
}
 .txtPrivetOffice p, .txtPrivetOffice a {
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;

}

.txtPrivetOffice p {
    color: #A6ADB4;
    font-size: 19px;
}

.txtPrivetOffice h1,  .txtPrivetOffice a {
    font-weight: bold;
}


.btnRent a{
    background-color: #E3B038;
    color: white;
    padding: 10px 45px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
    -webkit-box-shadow: 0px 20px 31px -13px rgba(255,200,61,0.44);
    -moz-box-shadow: 0px 20px 31px -13px rgba(255,200,61,0.44);
    box-shadow: 0px 20px 31px -13px rgba(255,200,61,0.44);
}

.btnRent {
    margin-top: 7px !important;
}

.btnPrivetOffice {
    text-align: right;
   
}
.btnRent a:hover {
    color: white;
    text-decoration: none !important;
}
.privet:nth-of-type(2) {
    margin-bottom: 30px !important;
    margin-top: 11px;
}



.date {
    margin-top: 20px;
    margin-bottom: -20px;
}

.dateTxt {
    margin-right: 10px;
    padding-top: 5px;
    font-weight: 500;
}

@media(max-width: 1580px){
    .imgPrivetOffice {
        max-width: 320px;
        margin-top: 90px !important;
    }
}

@media(max-width: 1300px){

    .imgPrivetOffice {
        max-width: 290px;
        margin-top: 90px !important;
    }
    .txtPrivetOffice p {
        font-size: 17px;
    }
    .btnRent a{
        padding: 8px 35px;
        font-size: 19px;
    }
}

@media(max-width: 1170px){

    .imgOffice{
        margin-right: 5% !important;
    }

    .imgPrivetOffice {
        max-width: 250px;
        margin-top: 110px !important;
    }

    .privet:nth-of-type(2) {
        margin-top: -20px;
    margin-bottom: 10px !important;
    }

}


@media(max-width: 1060px){

    .blog .carousel-indicators {
        bottom: -15px !important;
    }
}

@media(max-width: 991px){

    .imgOffice{
        text-align: center;
        margin-top: -80px;
        margin-right: 0% !important;
    }

    .imgPrivetOffice {
        max-width: 350px;
    }

    .txtPrivetOffice {
        text-align: center;
        margin-top: -50px;
    }

    .btnPrivetOffice {
        text-align: center;
        margin-bottom: 30px;
    }

    .btnRent {
        margin-bottom: 30px !important;
    }

    .date {
        
        margin-bottom: 0px;
    }

}


@media(max-width: 450px){

    .imgPrivetOffice {
        max-width: 250px;
    }
}

@media(max-width: 767px){
    .input-group{
        width: 40% !important;
        margin-bottom: 15px;
        margin-left: 28%;
    
    }
}

@media(max-width: 680px){
    .input-group{
        width: 60% !important;
        margin-left: 17%;
    
    }
}

@media(max-width: 521px){
    .input-group{
        width: 80% !important;
        margin-left: 8%;
    
    }
}

.blog .carousel-indicators {
   
    bottom: -55px;
    margin-bottom: 30px !important;

}


.blog .carousel-indicators li {
    margin-top: -2%;
    display: inline-block;
    width: 15px;
    background-color: rgba(0, 0, 0, 0);
    height: 15px;
    text-indent: -999px;
    border: 1px solid #E3B038;
    border-radius: 10px;
}

.blog .carousel-indicators .active {
    background: #E3B038;
}



.carousel-indicators li {
    margin-top: -2%;
    display: inline-block;
    width: 12px;
    background-color: rgba(0, 0, 0, 0);
    height: 12px;
    text-indent: -999px;
    border: 1px solid #E3B038;
    border-radius: 10px;

    margin-top: -7%;
}

.carousel-indicators .active {
    background: #E3B038;
}   