
/* Reservation : Right Content */


.reservationHeader {
    margin-top: 40px;
}

.rightContent {
    margin-top: 60px;
    
}
.reservationHeader p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 15px;
    font-size: 25px;
    margin-right: 40px;
    color: #4D5560 !important;
}

.fa-calendar-alt, .fa-clock, .fa-hourglass-half {
    color: #E3B038;
     font-size: 25px;
   
     margin-right: 5px;

 }

 .card-body input[type=date], .card-body input[type=time]{
     border-radius: 30px;
     border: 1px solid #A8A8A8;
     padding: 7px 15px;
     margin-bottom: 15px;
 }

 .card-body span{
    margin-right: 5px;
    font-size: 18px;
    color: #222831;
}

.range{
    width: 63%;
    margin-top: 7px;
}

.numberOfHours {
    margin-top: 4px;
}

.duration {
    margin-top: 10px;
}
.durationImg {
    margin-right: 15px;
}


.custom-range::-webkit-slider-thumb:hover {
    background: #E3B038;
    
  }
  
  .custom-range::-moz-range-thumb:hover  {
    background: #E3B038;
  }
  
  .custom-range::-ms-thumb:hover  {
    background: #E3B038;
  }

  .custom-range::-webkit-slider-thumb {
    background: #E3B038;
    
  }
  
  .custom-range::-moz-range-thumb  {
    background: #E3B038;
  }
  
  .custom-range::-ms-thumb  {
    background: #E3B038;
  }

.card:nth-of-type(1) {
    margin-top: 30px;
    width: 28% !important;
    border: none !important;
    box-shadow: 0 20px 20px rgba(0,0,0,.05);
    font-family: 'Poppins', sans-serif;
    height: 550px;
    border-radius: 30px !important;
  
   
 }

 .card:nth-of-type(2){
    margin-top: 30px;
    width: 62% !important;
    border: none !important;
    box-shadow: 0 20px 20px rgba(0,0,0,.05);
    font-family: 'Poppins', sans-serif;
    height: 550px;
    border-radius: 30px !important;
 }

 
 

.card-img-top{
   height: 62%;
    border-radius: 30px 30px 0 0;
}

.priceReservation{
    font-size: 18px;
    color: #E3B038 !important;
    font-weight: 600;
}

.cardReservation-title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 17px;
}


.reservationCards {
    margin-top: 50px;
}

@media(max-width: 510px){

    .reservationHeader p {
        margin-right: 10px;
    }

}

@media(max-width: 445px){

    .reservationHeader p {
        margin-top: 0px;
    }

}




@media(max-width: 991px){
    

    .reservationCards {
        margin-top: 10px;
    }

    .reservationHeader {
        margin-top: 10px;
    }
    
}

@media(max-width: 1587px){

    .card:nth-of-type(1){
        width: 30% !important;
    }

    .card:nth-of-type(2){
       
        width: 65% !important;
      
     }

   
}

@media(max-width: 1412px){
    .card-body span{
       
        font-size: 15px;
       
    }
}