
/* Subscription Confirm : Right Content */

select {
    border-radius: 15px !important;
    min-height: 50px;
    color: #E3B038 !important;
    width: 250px !important;
    font-weight: 500 !important;
    background: url(../img/Dropdown.png) no-repeat right #ddd;
    background-position-x: 95%;
    -webkit-appearance: none;
    font-family: 'Poppins', sans-serif;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
select option{
    color:black !important;
    border-radius: 15px !important;
}

.filterSubscription {
    margin-top: 40px;
}

.rightContent {
    margin-top: 60px;
    
}
.filterSubscription p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 15px;
    margin-right: 40px;
    color: black !important;
}


.card:nth-of-type(1) {
    margin-top: 30px;
    width: 31% !important;
    border: none !important;
    box-shadow: 0 20px 20px rgba(0,0,0,.05);
    font-family: 'Poppins', sans-serif;
    border-radius: 28px !important;
    padding-top: 30px !important;
 }

 .card:nth-of-type(2){
    margin-top: 30px;
    width: 62% !important;
    border: none !important;
    box-shadow: 0 20px 20px rgba(0,0,0,.05);
    font-family: 'Poppins', sans-serif;
    border-radius: 28px !important;

 }


 .btnSubConfirm {
    text-align: center !important;
    width: 80%;
    margin: 50px auto;
 }

 .subscriptionConfirm ul {
     color: #707070;
     text-align: left;
     font-size: 17px;
     font-family: 'Poppins', sans-serif;
     width: 75%;
     margin-top: 20px;
     margin-bottom: -20px;
    
  
 }

 .subscriptionConfirm .card-title{
     font-weight: bold;
     font-family: 'Poppins', sans-serif;
 }

 .subscriptionConfirm ul li {
     margin-bottom: 20px;
 }

 .subscriptionConfirm ul {
    list-style: none; /* Remove default bullets */
  }
  
  .subscriptionConfirm ul li::before {
    content: "\2022"; 
    color: #E3B038; 
    font-weight: bold; 
    font-size: 30px;
    display: inline-block; 
    width: 1em; 
    margin-left: -1rem;
    
  }

 .card:nth-of-type(2) .card-txt{
     font-size: 17px;
     margin-top: 30px;
 }

 .informationSubConfirm {
     margin-top: 50px;
     justify-content: center;
     
 }

 .card:nth-of-type(1) .card-body{
     background: url('../img/line.png') no-repeat center top ;
     background-position: 50% 12%;
     background-size: 110px;
 }


 .card-body h5 {
     font-size: 18px;
     color: black !important;
 }
 
 .card-text {
     font-size: 50px;
     font-weight: bold;
     color: #E3B038 !important;
     padding-top: 30px;
     margin-right: 7%;
     
 }
 .card-text sup{
    color: black !important;
     font-size: 32px !important;
  
 }

 .card-body p:nth-child(3) {
     margin-top: -18px;
     margin-bottom: 25px;
     color: black !important;
 }

 .card-body p:nth-child(6) {
   font-weight: 600;
   margin-top: 30px;
   color: black !important;
   font-family: 'Poppins', sans-serif;
   
}

 .card-body img {
    margin-bottom: 20px;
}

.backbtn {
    background: none !important;
    color: #E3B038 !important;
    border: 1px solid #E3B038 !important;
    padding: 10px 40px !important;
   
}

.confirmbtn {
    padding: 10px 32px !important;
    
}

.card-body button {
    outline: none;
    text-decoration: none;
    border: none;
    background-color: #E3B038 ;
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: -10px;
}

.card-body button:hover {
    transform: scale(1.05);
}
.subscriptionCards {
    margin-top: 50px;
}

@media(max-width: 510px){

    .filterSubscription p {
        margin-right: 10px;
    }



}


@media(max-width: 445px){

    .filterSubscription p {
        margin-top: 0px;
    }

}

@media(max-width: 434px){

    .filterSubscription p {
        margin-top: 0px;
    }

}


@media(max-width: 1100px){

    .card-body h5 {
        font-size: 16px;
    }

    .card-text {
        font-size: 40px;
     
       
        padding-top: 30px;
        margin-right: 7%;
    }

    .card-body button {
      
        font-size: 14px;
 
    }

    .card:nth-of-type(1) {
      
        padding-top: 50px !important;
     }

}

@media(max-width: 1018px){

    .card-body button {
        padding: 10px 20px;
    }
}


@media(max-width: 991px){
    .card-body button {
        padding: 10px 25px;
    }

    .subscriptionCards {
        margin-top: 10px;
    }

    .filterSubscription {
        margin-top: 10px;
    }
 
    .subscriptionConfirm ul {
        width: 100% !important;
       
    }
}
@media(max-width: 848px){

    
.card:nth-of-type(1) {
    width: 400px !important;
    padding-top: 15px !important;
    padding-bottom: 25px !important;
 }

 .card:nth-of-type(2){
    width: 90% !important;
   
       
    
 }

 .subscriptionConfirm ul {
    width: 80% !important;
   
}


}


@media(max-width:635px){

    .card {
        width: 320px !important;
     }
}   


@media(max-width:1238px){
   
     .backbtn {
     
        padding: 10px 30px !important;
    }
    
    .confirmbtn {
        padding: 10px 22px !important;
    }
}

@media(max-width:1540px){
    .subscriptionConfirm ul {
        width: 90%;
    }
}
@media(max-width:1300px){
    .subscriptionConfirm ul {
        width: 100%;
       
    }
    .informationSubConfirm {
 
        list-style-position: unset;
    }

}
@media(max-width:1238px){
  
    .informationSubConfirm {
 
        list-style-position: unset;
    }

}

@media(max-width:580px){
    .subscriptionConfirm ul {
        width: 100% !important;
       
    }
}

@media(max-width: 1164px){
    .subscriptionConfirm ul {
       font-size: 16px !important;
   
       
    }
    .card-body {
        margin-bottom: -10px;
    }
}