
/* Subscription Details : Right Content */

select {
    border-radius: 15px !important;
    min-height: 50px;
    color: #E3B038 !important;
    width: 250px !important;
    font-weight: 500 !important;
    background: url(../img/Dropdown.png) no-repeat right #ddd;
    background-position-x: 95%;
    -webkit-appearance: none;
    font-family: 'Poppins', sans-serif;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
select option{
    color:black !important;
    border-radius: 15px !important;
}

.filterSubscription {
    margin-top: 40px;
}

.rightContent {
    margin-top: 60px;
    
}
.filterSubscription p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 15px;
    margin-right: 40px;
    color: black !important;
}


.card:nth-of-type(1) {
    margin-top: 30px;
    width: 31% !important;
    border: none !important;
    box-shadow: 0 20px 20px rgba(0,0,0,.05);
    font-family: 'Poppins', sans-serif;
    border-radius: 28px !important;
 }

 .card:nth-of-type(2){
    margin-top: 30px;
    width: 62% !important;
    border: none !important;
    box-shadow: 0 20px 20px rgba(0,0,0,.05);
    font-family: 'Poppins', sans-serif;
    border-radius: 28px !important;
 }

 .range{
     width: 63%;
 }


 .custom-range::-webkit-slider-thumb:hover {
    background: #E3B038;
    
  }
  
  .custom-range::-moz-range-thumb:hover  {
    background: #E3B038;
  }
  
  .custom-range::-ms-thumb:hover  {
    background: #E3B038;
  }

  .custom-range::-webkit-slider-thumb {
    background: #E3B038;
    
  }
  
  .custom-range::-moz-range-thumb  {
    background: #E3B038;
  }
  
  .custom-range::-ms-thumb  {
    background: #E3B038;
  }

 .detailsSubscription  .card-body {
    background: none;
 }

 .detailsSubscription .card-body .card-txt{
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 80px;
    margin-bottom: 80px;
 }

 .btnSubDetails {
    text-align: center !important;
    width: 80%;
    margin: 50px auto;
 }

 .card-body{
     background: url('../img/line.png') no-repeat center top ;
     background-position: 50% 12%;
     background-size: 110px;
 }


 

 .card-body h5 {
     font-size: 18px;
     color: black !important;
 }
 
 .card-text {
     font-size: 50px;
     font-weight: bold;
     color: #E3B038 !important;
     padding-top: 30px;
     margin-right: 7%;
     
 }
 .card-text sup{
    color: black !important;
     font-size: 32px !important;
  
 }

 .card-body p:nth-child(3) {
     margin-top: -18px;
     margin-bottom: 25px;
     color: black !important;
 }

 .card-body p:nth-child(6) {
   font-weight: 600;
   margin-top: 30px;
   color: black !important;
   font-family: 'Poppins', sans-serif;
   
}

 .card-body img {
    margin-bottom: 20px;
}

.backbtn {
    background: none !important;
    color: #E3B038 !important;
    border: 1px solid #E3B038 !important;
    padding: 10px 40px !important;
}

.nextbtn {
    padding: 10px 40px !important;
}

.card-body button {
    outline: none;
    text-decoration: none;
    border: none;
    background-color: #E3B038 ;
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: -10px;
}

.card-body button:hover {
    transform: scale(1.05);
}
.subscriptionCards {
    margin-top: 50px;
}

@media(max-width: 510px){

    .filterSubscription p {
        margin-right: 10px;
    }

    .detailsSubscription .card-body .card-txt{
        font-size: 18px !important;
        width: 80%;
        text-align: center !important;
        margin: 60px auto;
      }

      .range{
          width: 40% !important;
       
      }

}


@media(max-width: 445px){

    .filterSubscription p {
        margin-top: 0px;
    }

}

@media(max-width: 434px){

    .filterSubscription p {
        margin-top: 0px;
    }

    .totalMonth {
        display: none;
    }
    .range{
        width: 90% !important;
        margin-bottom: -60px;
    }
}


@media(max-width: 1100px){

    .card-body h5 {
        font-size: 16px;
    }

    .card-text {
        font-size: 40px;
     
       
        padding-top: 30px;
        margin-right: 7%;
    }

    .card-body button {
      
        font-size: 14px;
 
    }

}

@media(max-width: 1018px){

    .card-body button {
        padding: 10px 20px;
    }
}


@media(max-width: 991px){
    .card-body button {
        padding: 10px 25px;
    }

    .subscriptionCards {
        margin-top: 10px;
    }

    .filterSubscription {
        margin-top: 10px;
    }
}
@media(max-width: 848px){

    
.card:nth-of-type(1) {
    width: 400px !important;
 }

 .card:nth-of-type(2){
    width: 90% !important;
   

 }

}


@media(max-width:635px){

    .card {
        width: 320px !important;
     }
}   

@media(max-width: 1542px){

    .detailsSubscription .card-body .card-txt{

        margin-top: 93px;
       
     }

}

@media(max-width:1270px){
    .range{
        width: 50%;
    }
}

@media(max-width:1238px){
    .detailsSubscription .card-body .card-txt{
       font-size: 20px;
     }

     .backbtn {
     
        padding: 10px 30px !important;
    }
    
    .nextbtn {
        padding: 10px 30px !important;
    }
}


@media(max-width:1040px){
    .detailsSubscription .card-body .card-txt{
       font-size: 18px;
     }
}

