html, body{
    background-color: #F3F3F7 !important;
}


/* Navbar */

.navbar{
    background-color: #3B3B3B;
    padding: 15px 0px !important;
}
.navbar-brand{
    margin-right: 50px !important;
}
.nav-link {
    color: white;
    font-size: 18px;
    margin-left: 35px;
    background: none;
    outline: none;
    border: none;
}

.btnModal{
    color: white;
    font-size: 18px;
    margin-left: 35px;
    background: none;
    outline: none;
    border: none;
}

.btnModal:hover, .btnModal:focus, .btnModal:active, .btnModal:visited, .btnModal:link{
    background: none !important;
    outline: none !important;
    border: none !important;
}

.nav-link:hover, .nav-link:focus, .nav-link:active, .nav-link:visited, .nav-link:link {
    background: none !important;
    outline: none !important;
    border: none !important;
}

.tooggleBtnSmall , .logoImgSmall {
    display: none;
}

.nav-link:hover{
    text-decoration: none;
    color: white;
    transform: scale(1.03);
}
.btnModal:hover{
    transform: scale(1.03);
    text-decoration: none;
    color: white;
}
.navbar-nav {
    margin-right: 40px;
}

.navbar-toggler{
    color: white !important;
    outline: none !important;
    margin-left: 20px !important;
    font-size: 25px !important;
}

@media (max-width: 520px){
    .navbar-brand{
        margin-right: 7px !important;
    }
    .navbar-toggler{
        margin-left: 7px !important;
    }
    .btnModal{
        margin-right: 10px !important;
    }
    .nav-link{
        margin-right: 26px !important;
    }
   
 
}

@media (max-width: 991px){
    .nav-link, .btnModal {
        margin-top: 5px;
        margin-left: 60px;
    }
    .navbar-nav{
        margin-top: 15px;
    }
    .nav-link:hover{
        transform: none !important;
    }
    .tooggleBtnSmall , .logoImgSmall {
        display: initial;
    }
    .logoImgLarge, .logoImgLarge{
        display: none;
    }
    .navbar-nav{
       text-align: right !important;
       justify-content: right !important;
    }
    .btnModal:hover{
        transform: none;
    }
    .btnModal{
        margin-right: 50px;
    }
    .nav-link{
        margin-right: 64px;
    }
}



/* Blog */

.content {
    margin-top: 60px;
    
}
.blogHeader p {
   
    font-weight: 800;
    font-size: 30px;
    color: #3B3B3B !important;
}



.card {
    margin-top: 30px;
    width: 23% !important;
    border: none !important;
    box-shadow: 0 20px 20px rgba(0,0,0,.05);
  
    height: 550px;
    border-radius: 30px !important;
  
   
 }
 

.card-img-top{
   height: 57%;
    border-radius: 30px 30px 0 0;
}

.priceReservation{
    font-size: 18px;
    color: #E3B038 !important;
    font-weight: 600;
}

.cardReservation-title {
    font-weight: bold;
    font-size: 18px;
}

.card-body p {
    margin-top: 10px;
}
.card-body button {
    outline: none;
    text-decoration: none;
    border: none;
    background-color: #E3B038 !important;
    color: white;
    padding: 8px 55px;
    border-radius: 30px;
    font-size: 17px;
    margin-top: 20px;

}

.card-body button:hover {
    transform: scale(1.05);
}
.blogCards {
    margin-top: 10px;
}




@media(max-width: 1018px){

    .card-body button {
        padding: 10px 20px;
    }
}


@media(max-width: 991px){
    .card-body button {
        padding: 10px 25px;
    }

    .blogCards {
        margin-top: 8px;
    }
    
}



@media(max-width:1500px){
    .card {
       
        width: 26% !important;
 
      
       
     }
}
@media(max-width:1300px){
    .card {
       
        width: 27% !important;
 
    
     }
}
@media(max-width:1200px){
    .card {
        width: 28% !important;
     }
}
@media(max-width:1154px){
    .card {
        width: 29% !important;
     }
     .card-img-top{
        height: 55%;
         border-radius: 30px 30px 0 0;
     }
}

@media(max-width:1035px){
    .card-body button {
        margin-top: 0px;
    }
}


@media(max-width:900px){
    .card {
        width: 43% !important;
     }
    .card-body button {
            margin-top: 20px;
        }
}

@media(max-width:750px){
    .card {
        width: 46% !important;
     }

     .card-body button {
        margin-top: 0px;
    }
   
}

@media(max-width:650px){
    .card {
        width: 60% !important;
     }
    
}

@media(max-width:550px){
    .card {
        width: 70% !important;
     }
   
}


@media(max-width:450px){
    .card {
        width: 80% !important;
     }
   
}
@media(max-width:350px){
    .card {
        width: 100% !important;
     }
   
}


/* footer */

#footer{
    margin-top: 38px !important;
    color: white;
    font-size: 16px;
    display: block;
    align-items: center;
   
    right: 0;
    bottom: 0;
    left: 0;
}
.footer p {
    margin-top: 18px;
}

.pull-right a i {
    margin-left: 15px;
    color: white;

}
.smallDeviceFooter {
    display: none;
}
.pull-right {
    margin-left: 3%;
}

#footer p i {
    transition: 0.4s;
    cursor: pointer;
}
#footer p i:hover {
    transform: scale(1.3);

}
.pull-left {
    margin-right: 3%;
}

@media(max-width:458px){
    .footer {
        text-align: center !important;
        justify-content: center !important;
    }
    .smallDeviceFooter {
        display: initial;
    }

    .largeDeviceFooter{
        display: none;
    }
}


/* Sign In CSS */

.modal-body h1{
    font-size: 25px;
    font-weight: 800;
    margin-top: 30px;
  
}

.modal-body img{
   
    margin-top: 20px;
}

.modal-body form{

    width: 60%;
    text-align: center;
    justify-content: center;
    margin: 40px auto;
}

.modal-body form input{
    background-color: #EBEAE9;
    height: 45px !important;
    border-radius: 40px;
    padding-left: 30px;
    color: #707070 !important;
 }

 .modal-body form input:hover{
    background-color: #EBEAE9 !important;
 }

 .form-group {
     text-align: right !important;
 }
 input[type=password]{
     margin-bottom: 10px;
     margin-top: 20px;
 }
 .form-group a{
   color: #707070;
   font-weight: 600;
   text-decoration: none;
}

.register{
    color: #707070;
    font-weight: 600;
    text-decoration: none;
   
 }

 .modal-content  {
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important; 
}

.fa-times {
    margin-right: 30px !important;
    margin-top: 20px !important;
    font-size: 30px !important;
    color: #E3B038;
   
}

.close {
    outline: none !important;
    color: #E3B038;
}

 .register:hover{
    color: #707070;
    text-decoration: none;
   
 }

 .nav-item button{
     box-shadow: none !important;
 }

.signInBtn {
    background-color: #E3B038;
    outline: none;
    padding: 10px 0px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
  
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px !important;
    
}
.signInBtn:hover {
    background-color: #E3B038;
    transform: scale(1.03);
   
}

@media(max-width: 991px){

    .modal-body form{
        width: 80%;
    }

}

@media(max-width: 400px){

    .modal-body form{
        width: 95%;
    }

}

@media(max-width: 350px){

    .fa-times {
        margin-right: 10px !important;
        font-size: 25px !important;
        margin-top: 33px !important;
       
    }

}