
/* Navbar */

.navbar{
    background-color: #3B3B3B;
    padding: 15px 0px !important;
}
.navbar-brand{
    margin-right: 50px !important;
}
.nav-link {
    color: white;
    font-size: 18px;
    margin-left: 35px;
    background: none;
    outline: none;
    border: none;
}

.btnModal{
    color: white;
    font-size: 18px;
    margin-left: 35px;
    background: none;
    outline: none;
    border: none;
}

.btnModal:hover, .btnModal:focus, .btnModal:active, .btnModal:visited, .btnModal:link{
    background: none !important;
    outline: none !important;
    border: none !important;
}

.nav-link:hover, .nav-link:focus, .nav-link:active, .nav-link:visited, .nav-link:link {
    background: none !important;
    outline: none !important;
    border: none !important;
}

.tooggleBtnSmall , .logoImgSmall {
    display: none;
}

.nav-link:hover{
    text-decoration: none;
    color: white;
    transform: scale(1.03);
}
.btnModal:hover{
    transform: scale(1.03);
    text-decoration: none;
    color: white;
}
.navbar-nav {
    margin-right: 40px;
}

.navbar-toggler{
    color: white !important;
    outline: none !important;
    margin-left: 20px !important;
    font-size: 25px !important;
}

@media (max-width: 520px){
    .navbar-brand{
        margin-right: 7px !important;
    }
    .navbar-toggler{
        margin-left: 7px !important;
    }
    .btnModal{
        margin-right: 10px !important;
    }
    .nav-link{
        margin-right: 26px !important;
    }
   
 
}

@media (max-width: 991px){
    .nav-link, .btnModal {
        margin-top: 5px;
        margin-left: 60px;
    }
    .navbar-nav{
        margin-top: 15px;
    }
    .nav-link:hover{
        transform: none !important;
    }
    .tooggleBtnSmall , .logoImgSmall {
        display: initial;
    }
    .logoImgLarge, .logoImgLarge{
        display: none;
    }
    .navbar-nav{
       text-align: right !important;
       justify-content: right !important;
    }
    .btnModal:hover{
        transform: none;
    }
    .btnModal{
        margin-right: 50px;
    }
    .nav-link{
        margin-right: 64px;
    }
}

/* Sign In CSS */

.modal-body h1{
    font-size: 25px;
    font-weight: 800;
    margin-top: 30px;
  
}

.modal-body img{
   
    margin-top: 20px;
}

.modal-body form{

    width: 60%;
    text-align: center;
    justify-content: center;
    margin: 40px auto;
}

.modal-body form input{
    background-color: #EBEAE9;
    height: 45px !important;
    border-radius: 40px;
    padding-left: 30px;
    color: #707070 !important;
 }

 .modal-body form input:hover{
    background-color: #EBEAE9 !important;
 }

 .form-group {
     text-align: right !important;
 }
 input[type=password]{
     margin-bottom: 10px;
     margin-top: 20px;
 }
 .form-group a{
   color: #707070;
   font-weight: 600;
   text-decoration: none;
}

.register{
    color: #707070;
    font-weight: 600;
    text-decoration: none;
   
 }

 .modal-content  {
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important; 
}

.fa-times {
    margin-right: 30px !important;
    margin-top: 20px !important;
    font-size: 30px !important;
    color: #E3B038;
   
}

.close {
    outline: none !important;
    color: #E3B038;
}

 .register:hover{
    color: #707070;
    text-decoration: none;
   
 }

 .nav-item button{
     box-shadow: none !important;
 }

.signInBtn {
    background-color: #E3B038;
    outline: none;
    padding: 10px 0px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
  
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px !important;
    
}
.signInBtn:hover {
    background-color: #E3B038;
    transform: scale(1.03);
   
}

@media(max-width: 991px){

    .modal-body form{
        width: 80%;
    }

}

@media(max-width: 400px){

    .modal-body form{
        width: 95%;
    }

}

@media(max-width: 350px){

    .fa-times {
        margin-right: 10px !important;
        font-size: 25px !important;
        margin-top: 33px !important;
       
    }

}


/* Right Content CSS Fix */


.reservation, .privateOffice, .events, .subscription{
 
    margin-top: 50px !important;
    margin-left: 18% !important;
    background-color: white;
    padding: 30px 40px;
    box-shadow: 0 20px 20px rgba(0,0,0,.03);
    width: 180px;
    border-radius: 10px;
    font-weight: bold;
    
}

.reservation:hover, .privateOffice:hover, .events:hover, .subscription:hover {
    transform: scale(1.06);
    cursor: pointer;

}

#content p {
    color: #707070;
    font-weight: bold;
}

.subscription img {
    margin-left: 12px !important;
 
    justify-content: center !important;
    margin-top: 10px;
    margin-bottom: 12px;
}

.reservation img {
    margin-left: 15px !important;
    margin-top: 10px;
    margin-bottom: 12px;
}

.privateOffice img {
    margin-left: 16px !important;
    margin-bottom: 12px;
}
.privateOffice p, .events p, .reservation p, .subscription p {
    text-align: center !important;
  
}

.smallDeviceSectionList{
    display: none;
}

.events img {
    margin-left: 25px !important;
    margin-top: 10px;
    margin-bottom: 12px;
}

/* .events p {
    margin-left: 20px !important;
 
} */

/* Active Page CSS */

.activePage {
    background-color: #E3B038 !important;
}

.activePage img, .activePage p{
    -webkit-filter: brightness(0) invert(1) !important;  
    -moz-filter : brightness(0) invert(1) !important;  
    -o-filter : brightness(0) invert(1) !important;  
    -ms-filter : brightness(0) invert(1) !important;  
    filter : brightness(0) invert(1) !important;  
    font-weight: bold;
    color: white !important;
}

@media (max-width: 1340px){
    .reservation, .privateOffice, .events, .subscription{
        margin-right: 12% ;
        margin-left: 0% !important;
    }

}

@media (max-width: 1588px){
    .reservation, .privateOffice, .events, .subscription{

        min-width: 165px;
        margin-right: 12% ;
        margin-left: 0% !important;

    }

}

@media (max-width: 1198px){
    .reservation, .privateOffice, .events, .subscription{
        padding: 30px 35px;
        margin-right: 5% !important;
    }
    .elements{
        margin-right: 5% !important;
    }

}

@media (max-width: 1028px){
    .reservation, .privateOffice, .events, .subscription{
        padding: 30px 30px;
        margin-left: -15px !important;
        width: 155px !important;
    }
    .elements{
        margin-right: 1% !important;
    }
}

@media(max-width: 991px){
    .reservation, .privateOffice, .events, .subscription{
        height: 140px !important;
        padding: 15px 32px;
       
    
    }
    .elements{
       justify-content: center;
        margin-right: 0% !important;
        margin-left: 5% !important;
       
    }

    .elements div{

         font-size: 14px !important;
     }

     .smallDeviceSectionList{
        display: initial;
    }

    .largeDeviceSectionList{
        display: none;
    }

}

@media(max-width:1217px){
    .privateOffice{
        height: 180px;
    }
}

/* Branches */

html{
    min-height:100% !important;
  
}
body{
    background: url('../img/bgBranches.jpg') no-repeat center center;
    min-height:100% !important;
    background-size: cover;
    /* -moz-background-size: 100% 100%;          
    -o-background-size: 100% 100%;         
-webkit-background-size: 100% 100%;            */
       /* background-size: 100% 100%;         */
  
 
}
.branchesHeader p {
    font-size: 40px;
   
    font-weight: 800;
    color: white !important;
    margin-top: 100px;
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
 

}
.lineBg {
    text-align: center;
    margin-bottom: 100px;
}
.card{
    width: 20%;
    border-radius: 30px;
}

.card-title{
    font-weight: bold;
    margin-bottom: 40px;
}

.card-body img{
    margin-bottom: 40px;
}

.card-body button{
    outline: none;
    border: none;
    background: none;
    background-color: #E3B038;
    color: white;
    padding: 8px 40px;
    border-radius: 7px;
    font-weight: bold;
}
.card-body button:hover {
    transform: scale(1.05);
}
.branchesCards {
    margin-bottom: 100px;
}
.art{
    margin-top: 14px;
}

.cafe{
    margin-top: 9px;
}

.about{
    margin-top: 20px;
}


@media(max-width:1200px){

    .card{
        width: 23%;
        
    }

}

@media(max-width:991px){
    .card{
        width: 31%;
    }
    .branchesHeader p {
       
        margin-top: 60px;
    }
    .lineBg {
        margin-bottom: 60px;
    }
    .branchesCards {
        margin-bottom: 60px;
    }
}
@media(max-width:750px){
    .card{
        width: 45%;
    }
    .branchesHeader p {
        font-size: 30px;
      
    }
}

@media(max-width:520px){
    .card{
        width: 65%;
    }
}
@media(max-width:400px){
    .card{
        width: 75%;
    }
}
@media(max-width:320px){
    .card{
        width: 92%;
    }
}

/* footer */

#footer{
    margin-top: 38px !important;
    color: white;
    font-size: 16px;
    display: block;
    align-items: center;
   
    right: 0;
    bottom: 0;
    left: 0;
}
.footer p {
    margin-top: 18px;
}

.pull-right a i {
    margin-left: 15px;
    color: white;

}
.smallDeviceFooter {
    display: none;
}
.pull-right {
    margin-left: 3%;
}

#footer p i {
    transition: 0.4s;
    cursor: pointer;
}
#footer p i:hover {
    transform: scale(1.3);

}
.pull-left {
    margin-right: 3%;
}

@media(max-width:458px){
    .footer {
        text-align: center !important;
        justify-content: center !important;
    }
    .smallDeviceFooter {
        display: initial;
    }

    .largeDeviceFooter{
        display: none;
    }
}