html, body{
    background-color: #F3F3F7 !important;
}


/* Navbar */

.navbar{
    background-color: #3B3B3B;
    padding: 15px 0px !important;
}
.navbar-brand{
    margin-right: 50px !important;
}
.nav-link {
    color: white;
  
    font-size: 18px;
    margin-left: 35px;
    background: none;
    outline: none;
    border: none;
}

.profileContainer, .sub, .event {
    flex-direction: row-reverse;
}
.nav-link:hover, .nav-link:focus, .nav-link:active, .nav-link:visited, .nav-link:link {
    background: none !important;
    outline: none !important;
    border: none !important;
}

.tooggleBtnSmall , .logoImgSmall {
    display: none;
}


.nav-link:hover{
    
    transform: scale(1.03);
}
.navbar-nav {
    margin-left: 20px;
}
.nav-link:hover{
    text-decoration: none;
    color: white;
}
.navbar-toggler{
    color: white !important;
    outline: none !important;
    margin-right: 20px !important;
    font-size: 25px !important;
}



@media (max-width: 520px){
    
    .nav-link {
            margin-right: 18px !important;
    }
}
@media (max-width: 991px){
    .nav-link {
        margin-top: 5px;
        margin-left: 0px;
        margin-right: 50px;
        text-align: right !important;
    }
    .navbar-nav{
        margin-top: 15px;
    }
    .nav-link:hover{
        transform: none !important;
    }
    .logoImgLarge, .logoImgLarge{
        display: none;
    }
    .tooggleBtnSmall , .logoImgSmall {
        display: initial;
    }
}

@media (max-width: 520px){
    .navbar-brand{
        margin-right: 13px !important;
    }
    .navbar-toggler{
        margin-left: 7px !important;
    }

}


/* CSS ADD FOR SIGN IN LINKS */

.minSize {
    display: none;
}

.fa-user, .fa-sign-out-alt {
    padding-left: 10px !important;
    color: #E3B038;
    
}

.dropdown-item {
    font-weight: 500;
    text-align: right !important;
}

@media (max-width: 991px){
   
    .minSize {
        display: unset;
    }
    .dropdown {
        display: none;
    }

}



/* Profile Informations */


 .userInformations{
    
    margin-top: 50px !important;
    margin-right: 7%;
    background-color: white;
    padding: 10px 40px;
    box-shadow: 0 20px 20px rgba(0,0,0,.03);
    width: 100%;
    border-radius: 10px;
}
.dateExpires {
    text-align: right;
    margin-right: 2px;
}

.userImg {
   width: 100px;
   border-radius: 50%;
   margin-top: 30px;
}

.moreInfo{
    text-decoration: underline;
    color: #707070;
    font-weight: bold;
}
.moreInfo:hover{
    color: #707070;
}

.Username {
    font-size: 19px;
    padding-top: 10px;
    font-weight: 800;
   
    color: black !important;
}

.fa-phone-volume, .fa-envelope{
    color: #E3B038;
    margin-right: 3px;
}

.userInformations p {
    color: #565454;
}

.rightContent {
    
    margin-top: 50px;
   
}


.subInformation{
    border-radius: 10px !important;
    background-color: white;
    padding: 10px 40px;
    height: 350px;

}


.reservInformation{
    margin-top: 30px;
    border-radius: 10px !important;
    background-color: white;
 
    padding: 5px 30px;
    width: 100%;
    margin-left: 0px;
   

}

.active{
    background: #E3B038 !important;
    color: white !important;
}
.page-link {
    color: black ;
    font-weight: 500;
   

}

.page-link {
    box-shadow: none !important;
}

.tableReserv {
    overflow: auto;
    width: 100%;
    margin-top: -20px;
    margin-left: 0.1%;
    margin-bottom: 10px;
}

.pagination {
    width: 99% !important;
    text-align: right !important;
}
td{
   
    font-weight: 300;
}
.reservInformation .header {
    margin-left:auto ; margin-right:12px !important; 
}

.detailsBtn{
    background: none;
    outline: none !important;
   
    border: none;
    text-decoration: none;
   font-weight: 500;
    background-color: #E3B038 ;
    color: white;
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 15px;
   
}

.header {
    font-weight: bold;
    color: #707070;
    margin: 20px 0px;
    font-size: 17px;
}




.reservPagination {
    text-align: right !important;
    justify-content: right !important;
}

.subImg{
    
    width: 100px;
}

.eventImg{
   padding-top: 10px;
    width: 80px;
}

.sub {
    margin-bottom: 30px;
}

.sub p:nth-child(1) {
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
}

.sub p:nth-child(2) {
  
    font-weight: 700;
   color: #707070;
}

.event p:nth-child(1) {
    font-size: 18px;
    font-weight: 700;
    padding-top: 16px;
}

.event p:nth-child(2) {
    font-size: 18px;
    font-weight: 700;
    color: #E3B038;
}

.elements{
    margin-top: 60px;
}

tr td {
    text-align: center;
}
th {
    text-align: center;
}
@media(max-width:1120px){

    .Username {
        font-size: 18px !important;
       
    }

    .userInformations p {
        font-size: 14px;
    }

}

@media(max-width:1024px){

    .userInformations p {
        font-size: 13px;
    }

}

@media(max-width:320px){

   .dateExpires {
       text-align: center !important;
   }

}

@media(max-width:991px){

    .userInformations p {
        font-size: 16px;
    }

    .userInformations {  
        justify-content: center !important;
        margin: 30px auto !important;
        width: 80% !important;
        
    }

    .rightContent {
        margin-top: 10px;
       
    }

    .elements{
        margin-top: 30px;
    }
    .sub{
        text-align: center !important;
        justify-content: center !important;
    }
    .event{
        text-align: center !important;
        justify-content: center !important;
    }
}
@media(max-width:991px){
    .subInformation{
        height: auto;
    }

}

@media(max-width:592px){

    .eventImg{
        margin-right: 35px;
    }

    .event p {
        margin-right: 30px;
    }
}

@media(max-width:609px){
    .header {
        margin: 25px 0;
       text-align: center !important;
       justify-content: center !important;
    }
    .reservInformation .header{
        width: 80% !important;
        margin: 30px auto !important;
        text-align: center !important;
       justify-content: center !important;
    }





}



@media(max-width:591px){
    .eventImg{
        margin-right: 3px;
    }
    .event p {
        margin-right: 3px;
    }
}

/* footer */

#footer{
    margin-top: 38px !important;
    color: white;
    font-size: 16px;
    display: block;
    align-items: center;
   
    right: 0;
    bottom: 0;
    left: 0;
}
.footer p {
    margin-top: 18px;
}

.pull-right a i {
    margin-left: 15px;
    color: white;

}

.pull-right {
    margin-left: 3%;
}

#footer p i {
    transition: 0.4s;
    cursor: pointer;
}
#footer p i:hover {
    transform: scale(1.3);

}
.pull-left {
    margin-right: 3%;
}

@media(max-width:458px){
    .footer {
        text-align: center !important;
        justify-content: center !important;
    }


}
.footer{
    flex-direction: row-reverse !important;
}