html, body{
    background-color: #F3F3F7 !important;
}


/* Navbar */

.navbar{
    background-color: #3B3B3B;
    padding: 15px 0px !important;
}
.navbar-brand{
    margin-right: 50px !important;
}
.nav-link {
    color: white;
    font-size: 18px;
    margin-left: 35px;
    background: none;
    outline: none;
    border: none;
}

.btnModal{
    color: white;
    font-size: 18px;
    margin-left: 35px;
    background: none;
    outline: none;
    border: none;
}

.btnModal:hover, .btnModal:focus, .btnModal:active, .btnModal:visited, .btnModal:link{
    background: none !important;
    outline: none !important;
    border: none !important;
}

.nav-link:hover, .nav-link:focus, .nav-link:active, .nav-link:visited, .nav-link:link {
    background: none !important;
    outline: none !important;
    border: none !important;
}

.tooggleBtnSmall , .logoImgSmall {
    display: none;
}

.nav-link:hover{
    text-decoration: none;
    color: white;
    transform: scale(1.03);
}
.btnModal:hover{
    transform: scale(1.03);
    text-decoration: none;
    color: white;
}
.navbar-nav {
    margin-right: 40px;
}

.navbar-toggler{
    color: white !important;
    outline: none !important;
    margin-left: 20px !important;
    font-size: 25px !important;
}

@media (max-width: 520px){
    .navbar-brand{
        margin-right: 7px !important;
    }
    .navbar-toggler{
        margin-left: 7px !important;
    }
    .btnModal{
        margin-right: 10px !important;
    }
    .nav-link{
        margin-right: 26px !important;
    }
   
 
}

@media (max-width: 991px){
    .nav-link, .btnModal {
        margin-top: 5px;
        margin-left: 60px;
    }
    .navbar-nav{
        margin-top: 15px;
    }
    .nav-link:hover{
        transform: none !important;
    }
    .tooggleBtnSmall , .logoImgSmall {
        display: initial;
    }
    .logoImgLarge, .logoImgLarge{
        display: none;
    }
    .navbar-nav{
       text-align: right !important;
       justify-content: right !important;
    }
    .btnModal:hover{
        transform: none;
    }
    .btnModal{
        margin-right: 50px;
    }
    .nav-link{
        margin-right: 64px;
    }
}


/* Right Content CSS Fix */


.reservation, .privateOffice, .events, .subscription{
 
    margin-top: 50px !important;
    margin-left: 18% !important;
    background-color: white;
    padding: 30px 40px;
    box-shadow: 0 20px 20px rgba(0,0,0,.03);
    width: 180px;
    border-radius: 10px;
    font-weight: bold;
    
}

.reservation:hover, .privateOffice:hover, .events:hover, .subscription:hover {
    transform: scale(1.06);
    cursor: pointer;

}

#content p {
    color: #707070;
    font-weight: bold;
}

.subscription img {
    margin-left: 12px !important;
 
    justify-content: center !important;
    margin-top: 10px;
    margin-bottom: 12px;
}

.reservation img {
    margin-left: 15px !important;
    margin-top: 10px;
    margin-bottom: 12px;
}

.privateOffice img {
    margin-left: 16px !important;
    margin-bottom: 12px;
}
.privateOffice p, .events p, .reservation p, .subscription p {
    text-align: center !important;
  
}

.smallDeviceSectionList{
    display: none;
}

.events img {
    margin-left: 25px !important;
    margin-top: 10px;
    margin-bottom: 12px;
}



/* Active Page CSS */

.activePage {
    background-color: #E3B038 !important;
}

.activePage img, .activePage p{
    -webkit-filter: brightness(0) invert(1) !important;  
    -moz-filter : brightness(0) invert(1) !important;  
    -o-filter : brightness(0) invert(1) !important;  
    -ms-filter : brightness(0) invert(1) !important;  
    filter : brightness(0) invert(1) !important;  
    font-weight: bold;
    color: white !important;
}

@media (max-width: 1340px){
    .reservation, .privateOffice, .events, .subscription{
        margin-right: 12% ;
        margin-left: 0% !important;
    }

}

@media (max-width: 1588px){
    .reservation, .privateOffice, .events, .subscription{

        min-width: 165px;
        margin-right: 12% ;
        margin-left: 0% !important;

    }

}

@media (max-width: 1198px){
    .reservation, .privateOffice, .events, .subscription{
        padding: 30px 35px;
        margin-right: 5% !important;
    }
    .elements{
        margin-right: 5% !important;
    }

}

@media (max-width: 1028px){
    .reservation, .privateOffice, .events, .subscription{
        padding: 30px 30px;
        margin-left: -15px !important;
        width: 155px !important;
    }
    .elements{
        margin-right: 1% !important;
    }
}

@media(max-width: 991px){
    .reservation, .privateOffice, .events, .subscription{
        height: 140px !important;
        padding: 15px 32px;
       
    
    }
    .elements{
       justify-content: center;
        margin-right: 0% !important;
        margin-left: 5% !important;
       
    }

    .elements div{

         font-size: 14px !important;
     }

     .smallDeviceSectionList{
        display: initial;
    }

    .largeDeviceSectionList{
        display: none;
    }

}

@media(max-width:1217px){
    .privateOffice{
        height: 180px;
    }
}

/* Sign In CSS */

.modal-body h1{
    font-size: 25px;
    font-weight: 800;
    margin-top: 30px;
  
}

.modal-body img{
   
    margin-top: 20px;
}

.modal-body form{

    width: 60%;
    text-align: center;
    justify-content: center;
    margin: 40px auto;
}

.modal-body form input{
    background-color: #EBEAE9;
    height: 45px !important;
    border-radius: 40px;
    padding-left: 30px;
    color: #707070 !important;
 }

 .modal-body form input:hover{
    background-color: #EBEAE9 !important;
 }

 .form-group {
     text-align: right !important;
 }
 input[type=password]{
     margin-bottom: 10px;
     margin-top: 20px;
 }
 .form-group a{
   color: #707070;
   font-weight: 600;
   text-decoration: none;
}

.register{
    color: #707070;
    font-weight: 600;
    text-decoration: none;
   
 }

 .modal-content  {
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important; 
}

.fa-times {
    margin-right: 30px !important;
    margin-top: 20px !important;
    font-size: 30px !important;
    color: #E3B038;
   
}

.close {
    outline: none !important;
    color: #E3B038;
}

 .register:hover{
    color: #707070;
    text-decoration: none;
   
 }

 .nav-item button{
     box-shadow: none !important;
 }

.signInBtn {
    background-color: #E3B038;
    outline: none;
    padding: 10px 0px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
  
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px !important;
    
}
.signInBtn:hover {
    background-color: #E3B038;
    transform: scale(1.03);
   
}

@media(max-width: 991px){

    .modal-body form{
        width: 80%;
    }

}

@media(max-width: 400px){

    .modal-body form{
        width: 95%;
    }

}

@media(max-width: 350px){

    .fa-times {
        margin-right: 10px !important;
        font-size: 25px !important;
        margin-top: 33px !important;
       
    }

}

/* Subscription : Left Content */

select {
    border-radius: 15px !important;
    min-height: 50px;
    color: #E3B038 !important;
    width: 250px !important;
    font-weight: 500 !important;
    background: url(../img/Dropdown.png) no-repeat left #ddd;
    background-position-x: 7%;
    -webkit-appearance: none;
  font-weight: bold;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
select option{
    color:black !important;
    border-radius: 15px !important;
}

.filterSubscription {
    margin-top: 40px;
}

.rightContent {
    margin-top: 60px;
    
}
.filterSubscription p {
   font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 40px;
    color: black !important;
}


.card {
    margin-top: 30px;
    width: 31% !important;
    border: none !important;
    box-shadow: 0 20px 20px rgba(0,0,0,.05);
   
    border-radius: 28px !important;
 }
 .card-body{
     background: url('../img/line.png') no-repeat center top ;
     background-position: 50% 12%;
     background-size: 110px;
 }
 .card-body h5 {
     font-size: 18px;
     color: black !important;
 }
 
 .card-text {
     font-size: 50px;
     font-weight: bold;
     color: #E3B038 !important;
     padding-top: 30px;
     margin-right: 7%;
     
 }
 .card-text sup{
    color: black !important;
     font-size: 32px !important;
  
 }
 .smallDeviceFilter{
    display: none;
}

 .card-body p:nth-child(3) {
     margin-top: -18px;
     margin-bottom: 25px;
     color: black !important;
 }

 .card-body p:nth-child(6) {
   font-weight: 600;
   margin-top: 30px;
   color: black !important;

   
}

 .card-body img {
    margin-bottom: 20px;
}

.card-body button {
    outline: none;
    text-decoration: none;
    border: none;
    background-color: #E3B038 ;
    color: white;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: -10px;
}

.card-body button:hover {
    transform: scale(1.05);
}
.subscriptionCards {
    margin-top: 50px;
}

@media(max-width: 510px){

    .filterSubscription p {
        margin-right: 10px;
    }

}

@media(max-width: 445px){

    .filterSubscription p {
        margin-top: 10px;
    }

}

@media(max-width:423px){
    .smallDeviceFilter{
        display: initial;
    }
    .largeDeviceFilter{
        display: none;
    }
}


@media(max-width: 1100px){

    .card-body h5 {
        font-size: 16px;
    }

    .card-text {
        font-size: 40px;
     
       
        padding-top: 30px;
        margin-right: 7%;
    }

    .card-body button {
      
        font-size: 14px;
 
    }

}

@media(max-width: 1018px){

    .card-body button {
        padding: 10px 20px;
    }
}


@media(max-width: 991px){
    .card-body button {
        padding: 10px 25px;
    }

    .subscriptionCards {
        margin-top: 10px;
    }

    .filterSubscription {
        margin-top: 10px;
    }
}
@media(max-width: 848px){

    
.card {
    width: 300px !important;
 }

}


@media(max-width:635px){

    .card {
        width: 320px !important;
     }
}   


/* footer */

#footer{
    margin-top: 38px !important;
    color: white;
    font-size: 16px;
    display: block;
    align-items: center;
   
    right: 0;
    bottom: 0;
    left: 0;
}
.footer p {
    margin-top: 18px;
}

.pull-right a i {
    margin-left: 15px;
    color: white;

}
.smallDeviceFooter {
    display: none;
}
.pull-right {
    margin-left: 3%;
}

#footer p i {
    transition: 0.4s;
    cursor: pointer;
}
#footer p i:hover {
    transform: scale(1.3);

}
.pull-left {
    margin-right: 3%;
}

@media(max-width:458px){
    .footer {
        text-align: center !important;
        justify-content: center !important;
    }
    .smallDeviceFooter {
        display: initial;
    }

    .largeDeviceFooter{
        display: none;
    }
}