/* Profile Informations */


 .userInformations{
    
    margin-top: 50px !important;
    margin-right: 7%;
    background-color: white;
    padding: 10px 40px;
    box-shadow: 0 20px 20px rgba(0,0,0,.03);
    width: 100%;
    border-radius: 10px;
}

.userImg {
   width: 100px;
   border-radius: 50%;
   margin-top: 30px;
}
.smallDeviceUser {
    display: none;
}

.moreInfo{
    text-decoration: underline;
    color: #707070;
    font-weight: bold;
}
.moreInfo:hover{
    color: #707070;
}

.Username {
    font-size: 19px;
    padding-top: 10px;
    font-weight: 800;
   
    color: black !important;
}

.fa-phone-volume, .fa-envelope{
    color: #E3B038;
    margin-right: 3px;
}

.userInformations p {
    color: #565454;
}

.rightContent {
    
    margin-top: 50px;
   
}
.smallDeviceImg {
    display: none;
}

.subInformation{
    border-radius: 10px !important;
    background-color: white;
    padding: 10px 40px;
    height: 350px;

}


.reservInformation{
    margin-top: 30px;
    border-radius: 10px !important;
    background-color: white;
 
    padding: 5px 30px;
    width: 100%;
    margin-left: 0px;
   

}

.active{
    background: #E3B038 !important;
    color: white !important;
}
.page-link {
    color: black ;
    font-weight: 500;
   

}

.page-link {
    box-shadow: none !important;
}

.tableReserv {
    overflow: auto;
    width: 100%;
    margin-top: -20px;
    margin-left: 0.1%;
    margin-bottom: 10px;
}

.pagination {
    width: 99% !important;
    text-align: right !important;
}
td{
   
    font-weight: 300;
}
.reservInformation .header {
    margin-left:auto ; margin-right:12px !important; 
}

.detailsBtn{
    background: none;
    outline: none !important;
   
    border: none;
    text-decoration: none;
   font-weight: 500;
    background-color: #E3B038 ;
    color: white;
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 15px;
   
}

.header {
    font-weight: bold;
    color: #707070;
    margin: 20px 0px;
    font-size: 17px;
}




.reservPagination {
    text-align: right !important;
    justify-content: right !important;
}

.subImg{
    
    width: 100px;
}

.eventImg{
   padding-top: 10px;
    width: 80px;
}

.sub {
    margin-bottom: 30px;
}

.sub p:nth-child(1) {
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
}

.sub p:nth-child(2) {
  
    font-weight: 700;
   color: #707070;
}

.event p:nth-child(1) {
    font-size: 18px;
    font-weight: 700;
    padding-top: 16px;
}

.event p:nth-child(2) {
    font-size: 18px;
    font-weight: 700;
    color: #E3B038;
}

.elements{
    margin-top: 60px;
}

tr td {
    text-align: center;
}
th {
    text-align: center;
}
@media(max-width:1120px){

    .Username {
        font-size: 18px !important;
       
    }

    .userInformations p {
        font-size: 14px;
    }

}

@media(max-width:1024px){

    .userInformations p {
        font-size: 13px;
    }

}

@media(max-width:991px){

    .userInformations p {
        font-size: 16px;
    }

    .userInformations {  
        justify-content: center !important;
        margin: 30px auto !important;
        width: 80% !important;
        
    }

    .rightContent {
        margin-top: 10px;
       
    }

    .elements{
        margin-top: 30px;
    }
    .sub{
        text-align: center !important;
        justify-content: center !important;
    }
    .event{
        text-align: center !important;
        justify-content: center !important;
    }
}
@media(max-width:991px){
    .subInformation{
        height: auto;
    }

    .smallDeviceUser{
        display: initial;
    }
    .largeDeviceUser{
        display: none;
    }
}

@media(max-width:592px){

    .eventImg{
        margin-right: 35px;
    }

    .event p {
        margin-right: 30px;
    }
}

@media(max-width:609px){
    .header {
        margin: 25px 0;
       text-align: center !important;
       justify-content: center !important;
    }
    .reservInformation .header{
        width: 80% !important;
        margin: 30px auto !important;
        text-align: center !important;
       justify-content: center !important;
    }





}

@media(max-width:320px){
    .smallDeviceImg {
        display: initial;
    }
    .largeDeviceImg {
        display: none;
    }
}

@media(max-width:591px){
    .eventImg{
        margin-right: 3px;
    }
    .event p {
        margin-right: 3px;
    }
}

