
/* Reservation : Right Content */


.reservationHeader {
    margin-top: 40px;
}

.rightContent {
    margin-top: 60px;
    
}
.reservationHeader p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 15px;
    font-size: 25px;
    margin-right: 40px;
    color: #4D5560 !important;
}

.fa-user-circle {
    color: #E3B038;
     font-size: 25px;
 margin-top: 10px;

 }

 .cardReservation-title {
     font-size: 20px !important;
 }

.card {
    margin-top: 30px;
    width: 400px !important;
    border: none !important;
    box-shadow: 0 20px 20px rgba(0,0,0,.05);
    font-family: 'Poppins', sans-serif;
    height: 550px;
    border-radius: 30px !important;
  
   
 }
 

.card-img-top{
   height: 62%;
    border-radius: 30px 30px 0 0;
}

.priceReservation{
    font-size: 18px;
    color: #E3B038 !important;
    font-weight: 600;
}

.cardReservation-title {
    font-weight: bold;
    font-size: 18px;
}
.card-body button {
    outline: none;
    text-decoration: none;
    border: none;
    background-color: #222831 !important;
    color: white;
    font-weight: bold;
    padding: 8px 40px;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 5px;

}

.card-body button:hover {
    transform: scale(1.05);
}
.reservationCards {
    margin-top: 50px;
}

@media(max-width: 510px){

    .reservationHeader p {
        margin-right: 10px;
    }

}

@media(max-width: 445px){

    .reservationHeader p {
        margin-top: 0px;
    }

}


@media(max-width: 1018px){

    .card-body button {
        padding: 10px 20px;
    }
}


@media(max-width: 991px){
    .card-body button {
        padding: 10px 25px;
    }

    .reservationCards {
        margin-top: 10px;
    }

    .reservationHeader {
        margin-top: 10px;
    }
    
}
@media(max-width: 848px){

    
.card {
    width: 300px !important;
 }

}


@media(max-width:635px){

    .card {
        width: 320px !important;
     }
}   


@media(max-width:1800px){
    .card {
        width: 330px !important;
     }
}

@media(max-width:1400px){
    .card {  
        width: 310px !important;
     }
}

@media(max-width:1320px){
    .card {
        width: 280px !important;
     }
}

@media(max-width:1215px){
    .card {
        width: 250px !important;
     }
}

@media(max-width:1070px){
    .card {
        width: 240px !important;
     }
}
@media(max-width: 991px){
  .card{
      width: 300px !important;
  }
}