
/* Subscription : Right Content */

select {
    border-radius: 15px !important;
    min-height: 50px;
    color: #E3B038 !important;
    width: 250px !important;
    font-weight: 500 !important;
    background: url(../img/Dropdown.png) no-repeat left #ddd;
    background-position-x: 7%;
    -webkit-appearance: none;
  font-weight: bold;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
select option{
    color:black !important;
    border-radius: 15px !important;
}

.filterSubscription {
    margin-top: 40px;
}

.rightContent {
    margin-top: 60px;
    
}
.filterSubscription p {
   font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 40px;
    color: black !important;
}


.card {
    margin-top: 30px;
    width: 31% !important;
    border: none !important;
    box-shadow: 0 20px 20px rgba(0,0,0,.05);
   
    border-radius: 28px !important;
 }
 .card-body{
     background: url('../img/line.png') no-repeat center top ;
     background-position: 50% 12%;
     background-size: 110px;
 }
 .card-body h5 {
     font-size: 18px;
     color: black !important;
 }
 
 .card-text {
     font-size: 50px;
     font-weight: bold;
     color: #E3B038 !important;
     padding-top: 30px;
     margin-right: 7%;
     
 }
 .card-text sup{
    color: black !important;
     font-size: 32px !important;
  
 }
 .smallDeviceFilter{
    display: none;
}

 .card-body p:nth-child(3) {
     margin-top: -18px;
     margin-bottom: 25px;
     color: black !important;
 }

 .card-body p:nth-child(6) {
   font-weight: 600;
   margin-top: 30px;
   color: black !important;

   
}

 .card-body img {
    margin-bottom: 20px;
}

.card-body button {
    outline: none;
    text-decoration: none;
    border: none;
    background-color: #E3B038 ;
    color: white;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: -10px;
}

.card-body button:hover {
    transform: scale(1.05);
}
.subscriptionCards {
    margin-top: 50px;
}

@media(max-width: 510px){

    .filterSubscription p {
        margin-right: 10px;
    }

}

@media(max-width: 445px){

    .filterSubscription p {
        margin-top: 10px;
    }

}

@media(max-width:423px){
    .smallDeviceFilter{
        display: initial;
    }
    .largeDeviceFilter{
        display: none;
    }
}


@media(max-width: 1100px){

    .card-body h5 {
        font-size: 16px;
    }

    .card-text {
        font-size: 40px;
     
       
        padding-top: 30px;
        margin-right: 7%;
    }

    .card-body button {
      
        font-size: 14px;
 
    }

}

@media(max-width: 1018px){

    .card-body button {
        padding: 10px 20px;
    }
}


@media(max-width: 991px){
    .card-body button {
        padding: 10px 25px;
    }

    .subscriptionCards {
        margin-top: 10px;
    }

    .filterSubscription {
        margin-top: 10px;
    }
}
@media(max-width: 848px){

    
.card {
    width: 300px !important;
 }

}


@media(max-width:635px){

    .card {
        width: 320px !important;
     }
}   